<app-headeren></app-headeren>
  <div class="pageWeb">
    <br>
    <p id="paraIntro">Welcome on the website of Valou Kervyb. There, you are able to find all the informations you want about
    the artist.</p>
    <br>
    <hr class="horrow">

    <div id="blocImages">
      <img id="flecheGauche" src="../../assets/img/leftArrow.png" alt="left arrow">
      <img id="imageDefilante" alt="oeuvre" src="../../assets/img/1.jpg">
      <img id="flecheDroite" src="../../assets/img/rightArrow.png" alt="right arrow">
    </div>
    <p style="font-size: 20px;"> Presentation of the artist : </p>
  </div>
<app-footeren></app-footeren>
