<app-headeren></app-headeren>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCq4TvPKogUIilCh_38VgrV4URD5o1a8xk"
        type="text/javascript"></script>
<div class="pageWeb">
  <img id="image" src="{{this.image}}" alt="image">
  <div id="details">
    <h1 id="nomEvenement">{{this.event.name}}</h1>
    <p class="description">{{this.event.description}}</p>
    <p class="date">{{this.event.begin}} - {{this.event.end}}</p>
  </div>
  <div #mapContainer id="map"></div>

  <div id="comments">
    <div class="commentList" *ngFor="let comment of comments">
      <p class="name">{{comment.lastname}} {{comment.firstname}}</p>
      <p>{{comment.comment}}</p>
    </div>
    <form id="commentAdd" [formGroup]="checkoutForm" (ngSubmit)="checkUser(checkoutForm.value)">
      <p>Ajouter un commentaire</p>
      <label>
        <textarea id="inputComment" rows="10" formControlName="comment"></textarea>
      </label>
      <input id="submitComment" type="submit">
    </form>
  </div>
</div>
<app-footeren></app-footeren>
