.admin {
  margin: 0 5%;
  background-color: white;
  padding: 1%;
  font-size: 22px;
}

input {
  background-color: #ededed;
  border: none;
  padding: 1%;
  margin-top: 1%;
}
input:hover{
  background-color: #e4e4e4;
 }

.submit {
  padding: 5px;
}
