<div class="pageEvent">
  <!--<div class="order">
    <a id="En cours">En cours</a>
    <a id="A suivre">A suivre</a>
    <a id="Passé">Passé</a>
  </div>-->
  <div class="event" id='1' onclick="window.location='/event/'+ this.id">
  <img src="../../assets/img/1.jpg" alt="Event">
  <h1>Vernissage Sablon d'Art</h1>
  <div class="moment">
    <p>7 fevrier 2019</p>
  </div>
  <p class="location">Sablon</p>
</div>
<div class="event">
  <img src="../../assets/img/2.jpg" alt="Event">
  <h1>Vernissage Sablon d'Art</h1>
  <div class="moment">
    <p>7 fevrier 2019</p>
  </div>
  <p class="location">Sablon</p>
</div>
</div>
