#pageWeb {
  margin: 0 5%;
  background-color: white;
  padding: 2%;
}

#image {
  width: 30%;
}
#rightSide {
  width: 60%;
  margin-left: 33%;
  margin-top: -27%;
}

#textArea {
  text-align: center;
  background-color: #e4e4e4;
}
#mapArea {
  size: auto;
}
