#evenement {
  margin: 0 5%;
  background-color: white;
  padding: 2%;
  font-size: 20px;
  min-height: auto;
  box-sizing: border-box;
}
#droite{
  float: right;
  width: 49%;
}
#imageArea {
  width: 49%;
}
#textArea {
  text-align: center;
  background-color: #e4e4e4;
}
#mapArea {
  size: auto;
}
img {
  height: 100%;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
}
