.pageWeb {
  margin: 0 5%;
  background-color: white;
  padding: 2%;
}

#image {
  float: left;
  padding: 0 5% 0.5% 5%;
  width: 30%;
}

#details {
  position: relative;
  padding: 3%;
  width: 49%;
  margin-left: 40%;
  margin-top: 0;
  text-align: left;
  background-color: #ededed;
  font-size: 1.7vw;
  border-bottom: solid 3px black;
}

#textArea {
  text-align: center;
  background-color: #e4e4e4;
}
#mapArea {
  size: auto;
}

#comments {
  padding: 2% 3%;
  background-color: #ededed;
  margin-top: 8%;
  margin-left: 5%;
  width: 84%;
}
.commentList {
  border-bottom: 1px solid slategrey;
  margin: 2% 5%;
  font-size: 1.5vw;
}

.name {
  color: #323232;
  text-decoration: underline gray ;
}

#commentAdd {
  padding: 3%;
  font-size: 2vw;
}

#inputComment {
  margin-left: 1%;
  width: 98%;
  font-size: 1.5vw;
}
#submitComment {
  float: right;
  width: 20%;
  font-size: 1.7vw;
}

#map {
  height: 500px;
  width: 100%;
}
