.pageWeb {
  margin: 0 5%;
  background-color: white;
  padding: 2%;
}

#image {
  padding: 0 2% 0.5%;
  width: 44%;
}

#details {
  float: right;
  padding: 3%;
  width: 44%;
  /*margin-left: 50%;*/
  margin-top: 0;
  text-align: left;
  background-color: #ededed;
  font-size: 1.7vw;
  border-bottom: solid 3px black;
}

#nomOeuvre {
  font-size: 3vw;
  font-weight: bolder;
  margin-top: 1.5%;
}

#likeImage {
  width: 5%;
}

#comments {
  float: none;
  padding: 2% 3%;
  background-color: #ededed;
  margin-top: 2%;
  margin-left: 2%;
  width: 92%;
}
.commentList {
  border-bottom: 1px solid slategrey;
  margin: 2% 5%;
  font-size: 1.5vw;
}

.name {
  color: #323232;
  text-decoration: underline gray ;
}
#commentAdd {
  padding: 3%;
  font-size: 2vw;
}

#inputComment {
  margin-left: 1%;
  width: 98%;
  font-size: 1.5vw;
}
 #submitComment {
   float: right;
 }
