/*img {
  margin: 0.5%;
  background-color: white;
  border: 5px solid black;
}*/

.pageWeb {
  margin: 0 5%;
  background-color: white;
}

.imageEtDetails {
  background-color: white;
  width: 100%;
  margin-top: -1.5%;
}
#image {
  text-align: left;
  margin-left: 1.5%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  width: 40%;
}

.details {
  text-align: center;
  background-color: #e4e4e4;
  margin-right: 3%;
  margin-top: 1.5%;
}

.right {
  float: right;
  width: 50%;
}

#comments {
  background-color: #e4e4e4;
  margin-right: 3%;
}
.commentList {
  border-bottom: 1px gray solid;
  margin: 2% 5%;
  font-size: 125%;
}

.commentList h1 {
  margin: 0;
}

.name {
  color: #323232;
  text-decoration: underline gray ;
}
#commentAdd {
  padding: 2%;
}
