<app-headerfr></app-headerfr>
  <div class="pageWeb">
    <img id="image" src="{{this.actualPaint.image}}" alt="oeuvre">
      <div id="details">
        <p id="nomOeuvre">{{this.actualPaint.name}}</p>
        <p>Taille : {{this.actualPaint.size}}</p>
        <p>Date de création : {{this.actualPaint.creationdate}}</p>
        <div id="like">
          <h2><img id="likeImage" src="../../assets/img/heart_empty.png" (click)="likes()" width="20px" alt="like"> {{this.actualPaint.likes}}</h2>
        </div>
      </div>
      <div id="comments">
        <div class="commentList" *ngFor="let comment of comments">
          <p class="name">{{comment.lastname}} {{comment.firstname}}</p>
          <p>{{comment.comment}}</p>
        </div>
        <form id="commentAdd" [formGroup]="checkoutForm" (ngSubmit)="newComment(checkoutForm.value)">
          <p>Ajouter un commentaire</p>
          <label>
            <textarea id="inputComment" rows="10" formControlName="comment"></textarea>
          </label>
          <input id="submitComment" type="submit">
        </form>
    </div>
    <br>
  </div>
<app-footerfr></app-footerfr>
