<div class="topnav">
  <div id="divSelectLanguage">
  <a class="selectLanguage" href="">NL</a>
  <a class="selectLanguage" href="">EN</a>
  <a class="selectLanguage" href="">FR</a>
  </div>
  <p id="logo">Valou Kervyn</p>
  <div id="toolbar">
  <a class="itemToolbar" href="event">Event</a>
  <a class="itemToolbar" href="contact">Contact</a>
  <a class="itemToolbar" href="presentation">Presentation</a>
  <a class="itemToolbar" href="gallery">Gallery</a>
  <a class="itemToolbar" href="home">Home</a>
</div>

</div>
<br>
<hr class="hrow">
<!--
<h1>Welcome in the site :  {{ title }}</h1>
-->
<router-outlet></router-outlet>
<hr class="hrow">













