<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./home.component.css">
</head>
<body>
<app-headerfr></app-headerfr>
<div class="pageWeb">
  <br>
  <p id="paraIntro">Bienvenue sur le site de Valou Kervyn. Ici, vous trouverez toutes les informations que vous pourriez
    rechercher à propose de l'artiste.</p>
  <br>
  <hr class="horrow">
  <div id="slider">
    <figure>
      <img src="../../../assets/img/1.jpg" alt="test 1">
      <img src="../../../assets/img/2.jpg" alt="test 2">
      <img src="../../../assets/img/3.jpg" alt="test 3">
      <img src="../../../assets/img/1.jpg" alt="test 4">
    </figure>
  </div>
  <hr class="horrow">
</div>
<app-footerfr></app-footerfr>
</body>
