.pageWeb {
  margin: 0 5%;
  background-color: white;
}

#paraIntro {
  margin-left: 5%;
  margin-right: 5%;
  font-style: italic;
  text-align: center;
  font-size: 23px;
}

#blocImages {
  text-align: center;
  margin: 0 5%;
  padding: 10px;
}

.horrow {
  margin-left: 5%;
  margin-right: 5%;
}
div#slider {
  margin-left: 33% ;
  width: 35%;
  max-width: 600px;
}
div#slider figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

div#slider figure img {
  width: 25%;
  float: left;
}

div#slider { overflow: hidden; }

@keyframes slidy {
  0% { left: 0%; }
  28% { left: 0%; }
  33% { left: -100%; }
  61% { left: -100%; }
  66% { left: -200%; }
  94% { left: -200%; }
  100% { left: -300%; }
}

