<app-headernl></app-headernl>
<div class="pageWeb">
  <h1 id="titre">Presentatie</h1>
  <hr>
  <div id="paragraphe">
    <img src="../../assets/img/ValouKervyn.jpg" id="img1">
    <p id="p1">
      Over <br>
      <br>
      Valou Kervyn
      Belgische schilder <br>
      <br>
      Valou Kervyn, geboren in Brussel op 21 juni 1973, ontdekte de passie voor tekenen en schilderen dankzij een workshop die ze sinds haar tiende elke week volgde. <br>
      <br>
      Na artistieke geesteswetenschappen koos ze voor grafische ontwerpstudies aan de School of Graphic Research (ERG) en Ecole du 75 (Brussel), gevolgd door avondcursussen illustratie bij Alain Goffin.
      In 2012, tijdens de oprichting van een netwerk voor interieurdecoratie dat kunstenaars en ambachtslieden samenbracht, herontdekte ze haar eerste liefde en vond ze haar weg naar haar atelier.
      Sindsdien brengt ze haar dagen daar door ... ze worden onderbroken door kleuren, materialen, bewegingen, onderzoek en plezier ... <br>
      <br>
      <br>
      Mijn artistieke benadering<br>
      <br>
      Aangetrokken door kleuren, vormen en texturen ... Benieuwd om te werken met verschillende "objecten" en "materialen" ...
      De kleuren zijn over elkaar heen gelegd, het acryl is bewerkt met paletten, karton, draad, gaas ...
      Emoties zijn ook gesuperponeerd ... expressief van aard, gecombineerd met een sterke gevoeligheid, projecteer ik de gevoelens van het moment vermengd met de emoties die worden gevoeld tijdens de constructie en organisatie van het canvas in mijn hoofd.
      Ik werk in twee fasen, een canvas wordt gebouwd ... eerst stel ik me voor, ik droom en dan zie ik het na verloop van tijd, het komt uit, het moet uitkomen ...
      Dus, ik laat me meeslepen, ik verzamel de uitrusting en ik val aan ... Dit moment is alsof het geschorst is ...
      Het is magisch wanneer ideeën, gevoelens materie worden, wanneer je zand aan de verf moet toevoegen om de beweging te accentueren, wanneer de paletten, de met kleuren gevulde dozen vrijelijk transcriberen wat er werd gedacht.
      Soms is het explosief, soms evenwichtiger ...
      de technieken variëren naargelang mijn emoties, maar altijd in kleur ...
    </p>

  </div>
</div>
<app-footernl></app-footernl>
