<app-headernl></app-headernl>
<div class="pageWeb">
  <h1 id="titre">Presentatie</h1>
  <hr>
  <div id="paragraphe">
    <img src="../../assets/img/ValouKervyn.jpg" id="img1">
    <p id="p1">
      Valou Kervyn<br>
      Belgische kunstschilder <br>
      <br>
      Valou Kervyn, geboren in Brussel op 21 juni 1973, ontdekte de passie voor tekenen en schilderen in een atelier waar ze sinds haar tiende wekelijks ging tekenen en schilderen.
      <br><br>
      Na kunsthumaniora koos ze voor grafische ontwerpstudies aan de ERG (Ecole de Recherche Graphique) en aan Ecole du 75 (Brussel), gevolgd door avondcursussen illustratie met Alain Goffin.
      In 2012, met de oprichting van een netwerk voor interieurdecoratie met kunstenaars en ambachtslui, herontdekte ze haar eerste liefde en vond ze haar weg naar haar atelier.
      Sindsdien brengt ze haar dagen door in haar atelier ... Dagen die omringd zijn door kleuren, materialen, bewegingen, onderzoek en plezier ...

      <br>
      <br>
      <br>
      Mijn artistieke benadering<br>
      <br>
      Ik ben aangetrokken door kleuren, vormen en texturen en nieuwsgierig om te werken met verschillende voorwerpen en materialen ...
      De kleuren worden dikwijls over elkaar geschilderd, de acrylverf wordt aangebracht met paletmes, karton, draad, gaas ...
      De emoties worden ook door elkaar gemengd... Ik ben expressief, uiterst gevoelig en projecteer de gevoelens van het moment, vermengd met de gevoelde emoties tijdens het uitwerken van het canvas, in mijn hoofd.
      Mijn canvas komt tot stand in twee fasen: ik geef mijn verbeelding de vrije loop, ik droom en na verloop van tijd krijgt het idee vorm, ik krijg een duidelijk en concreet beeld in mijn hoofd.
      Vervolgens laat ik me meeslepen, ik verzamel het materiaal en ga aan de slag…  alsof de tijd hier stilstaat.
      Het is magisch wanneer ideeën en gevoelens materie worden, wanneer je zand aan de verf toevoegt om de beweging te accentueren, wanneer de met kleuren gevulde paletmessen en kartons mijn idee tot stand brengen.
      Soms is het explosief, soms gematigder...
      De technieken variëren naargelang mijn emoties, maar altijd met kleuren!
    </p>

  </div>
</div>
<app-footernl></app-footernl>
