<div class="admin">
  <div id="gallery">
    <h1>Ajouter une image à la gallerie</h1>
    <form name="gallery" id="img" enctype="multipart/form-data" method="post" [formGroup]="checkoutFormGallery" (ngSubmit)="onSubmit(checkoutFormGallery.value)">
      Nom : <input type="text" required placeholder="Nom" id="galleryName" formControlName="galleryName"><br>
      Taille de la toile : <input type="text" required placeholder="Taille" id="gallerySize" formControlName="gallerySize"><br>
      Image : <input type="file" required id="galleryFile" formControlName="galleryFile"><br>
      <input type="submit" class="submit">
    </form>
  </div>
  <div id="event">
    <h1>Ajouter un evenement</h1>
    <form name="event" id="evnt" method="post" enctype="multipart/form-data" [formGroup]="checkoutFormEvent" (ngSubmit)="onSubmit(checkoutFormEvent.value)">
      Nom : <input type="text" placeholder="Nom" id="eventName" formControlName="eventName"><br>
      Dates : <input type="date" id="eventBegin" formControlName="eventBegin">
      - <input type="date" id="eventEnd" formControlName="eventEnd"><br>
      Description : <input type="text" placeholder="Description" id="eventDescription" formControlName="eventDescription"><br>
      Lieux : <input type="text" placeholder="Lieux" id="eventLocation" formControlName="eventLocation"><br>
      Image : <input type="file" id="eventFile" formControlName="eventFile"><br>
      <input type="submit" class="submit">
    </form>
  </div>
</div>
