<head>
  <meta charset="utf-8">
</head>

  <app-headerfr></app-headerfr>
    <div class="pageWeb">
      <h1>Connectez-vous à votre compte</h1>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
        <label for="username">E-mail : </label><br><input type="email" required placeholder="example@gmail.com" id="username" formControlName="username"><br>
        <label for="password">Mot de passe : </label><br><input type="password" required id="password" placeholder="password123" formControlName="password"><br>
        <input type="submit" id="submit" value="Valider" class="bouton">
        <a href="/fr/inscription"><input type="button" id="inscription" value="Inscription" class="bouton"></a>
        <p>Mot de passe oublié ?</p>
        <p id="error"></p>
      </form>
      <br>
    </div>
  <app-footerfr></app-footerfr>

