.pageWeb {
  margin: 0 5%;
  background-color: white;
  padding: 1%;
  text-align: center;
}

h1 {
  font-size: 3.5vw;
}

input {
  background-color: #ededed;
  border: none;
  padding: 1%;
  margin: 1%;
  font-family: "Champagne & Limousines", sans-serif;
  font-size: 1.55vw;
  width: 30%;
}
label {
  margin-left: 1%;
  font-size: 1.55vw;
}

#submit {
  position: relative;
  width: 14%;
  margin-right: 2%;
  margin-bottom: 5px;
}

#inscription {
  position :relative;
  width: 14%;
  margin-left: 2%;
  margin-bottom: 5px;
}

.bouton:hover {
  border-bottom: 3px solid black;
}

#error {
  /*background-color: #FF000055;
  border: red 1px solid;*/
  position: relative;
  display: none;
}
