<head>
  <meta charset="utf-8">
</head>

<app-headeren></app-headeren>
<div class="pageWeb">
  <h1>Log in</h1>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <label for="username">E-mail : </label><br><input type="email" required placeholder="example@gmail.com" id="username" formControlName="username"><br>
    <label for="password">Password : </label><br><input type="password" required id="password" placeholder="password123" formControlName="password"><br>
    <input type="submit" id="submit" value="Confirm" class="bouton">
    <a href="/en/inscription"><input type="button" id="inscription" value="Sign in" class="bouton"></a>
    <p>Forgot your password ?</p>
    <p id="error"></p>
  </form>
  <br>
</div>
<app-footeren></app-footeren>

