<br>
<div class="botnav">
  <br>
  <hr style="margin: 0 5%;">
  <a href="/fr/home"><img id="logoValouKervynBot" src="../assets/img/logoValouKervyn.png" alt="logoArtiste"></a>
  <p><a href="fr/home" class="littlenav">Home</a> | <a href="fr/gallery" class="littlenav">Gallery</a> | <a href="fr/presentation" class="littlenav">Presentation</a> | <a href="fr/event" class="littlenav">Event</a> | <a href="/contact" class="littlenav">Contact</a></p>
  <p>Valou Kervyn - Artiste peintre</p>
  <p><i>Contact : 0491919191 | adresse.email@motiv0.com</i></p>
  <a href="https://www.facebook.com/valerie.kervyn/"><img src="../assets/img/logoFacebook.jpg" width="4%"></a>
  <a href="https://www.instagram.com/valoukervyn/"><img src="../assets/img/logoInstagram.jpg" width="4%"></a>
  <hr style="margin: 0 5%;">
  <br>
</div>
