<head>
  <meta charset="utf-8">
</head>
<body>
<br>
<div id="botnav">
  <a href="/nl/home"><img id="logoValouKervynBot" src="../assets/img/logoValouKervyn.png" alt="logoArtiste"></a>
  <hr style="margin: 0 30%;">
  <br>
  <div id="toolbar">
    <a href="nl/home" class="littlenav">Home</a>
    <div class="dropdown">
      <div class="dropdown-content">
        <a href="/nl/gallery/inSpires" class="itemDropdown">In spires</a>
        <a href="/nl/gallery/pinsAndNeedles" class="itemDropdown">Pins and needles</a>
        <a href="/nl/gallery/patchy" class="itemDropdown">Patchy</a>
        <a href="/nl/gallery/splash" class="itemDropdown">Splash</a>
        <a href="/nl/gallery/other" class="itemDropdown">Other</a>
        <a href="/nl/gallery/stagingPaintings" class="itemDropdown">Staging paintings</a>
      </div>
      <a id="galerie">Galerij</a>
    </div>
    <a href="nl/presentation" class="littlenav">Presentatie</a>
    <a href="nl/event" class="littlenav">Evenementen</a>
    <a href="nl/contact" class="littlenav">Contact</a>
  </div>
  <p class="infos">Valou Kervyn - Kunstschilder</p>
  <p class="infos"><i>Contact : 0473/66.32.41 | valoukervyn@gmail.com</i></p>
  <a href="https://www.facebook.com/valerie.kervyn/" target="_blank"><img class="network" src="../assets/img/logoFacebook.jpg"></a>
  <a href="https://www.instagram.com/valoukervyn/" target="_blank"><img class="network" src="../assets/img/logoInstagram.jpg"></a>
</div>
</body>
