<app-headeren></app-headeren>
<div class="pageWeb">
  <br>
  <div class="imageEtDetails">
    <img id="image" src="{{this.actualPaint.image}}" alt="oeuvre">
    <div class="details">
      <h1>Details of the work :</h1>
      <h2>Name : {{this.actualPaint.name}}</h2>
      <h2>Size : {{this.actualPaint.size}}</h2>
      <h2>Creation date : {{this.actualPaint.creationdate}}</h2>
      <div id="like">
        <h2><img id="likeImage" src="../../assets/img/heart_empty.png" (click)="likes()" width="20px" alt="like"> {{this.actualPaint.likes}}</h2>
      </div>
    </div>

  </div>
  <br>
</div>
<app-footeren></app-footeren>
