<div class="topnav">
  <div id="divSelectLanguage">
    <a class="selectLanguage" href="nl/{{this.page}}">NL</a>
    <a class="selectLanguage" href="en/{{this.page}}">EN</a>
    <a class="selectLanguage" href="fr/{{this.page}}">FR</a>
  </div>
  <div id="loginDiv">
    <a id="login" href="nl/register">Mon Compte</a>
  </div>
  <a href=""><img id="logoValouKervynTop" src="../assets/img/logoValouKervyn.png" alt="logoArtiste"></a>
  <div id="toolbar">
    <div id="hoverHome">
      <a class="itemToolbar" href="nl/home">Accueil</a>
    </div>
    <div id="hoverGallery">
      <a class="itemToolbar" href="nl/gallery">Galerie</a>
    </div>
    <div id="hoverPresentation">
      <a class="itemToolbar" href="nl/presentation">Présentation</a>
    </div>
    <div id="hoverEvent">
      <a class="itemToolbar" href="nl/event">Evenements</a>
    </div>
    <div id="hoverContact">
      <a class="itemToolbar" href="nl/contact">Contact</a>
    </div>
  </div>
</div>
<br>
