<head>
  <meta charset="utf-8">
</head>
<body>
<div id="topnav">
  <div id="divSelectLanguage">
    <a class="itemSelectLanguage" id="fr" href="fr/{{this.page}}">FR</a>
    <a class="itemSelectLanguage" id="en" href="en/{{this.page}}">EN</a>
    <a class="itemSelectLanguage" id="nl" href="nl/{{this.page}}">NL</a>
  </div>
  <div id="loginDiv">
    <a class="log" id="login" href="nl/login">Log in</a>
    <a class="log" id="logout" href="nl/home" (click)="logout()">Afmelden</a>
  </div>

  <a href="nl/home"><img id="logoValouKervynTop" src="../assets/img/logoValouKervyn.png" alt="logoArtiste"></a>
  <div id="toolbar">
    <a class="itemToolbar" href="nl/home">Home</a>
    <div class="dropdown">
      <a id="galerie">Galerij</a>
      <div class="dropdown-content">
        <a href="/nl/gallery/inSpires" class="itemDropdown">In spires</a>
        <a href="/nl/gallery/pinsAndNeedles" class="itemDropdown">Pins and needles</a>
        <a href="/nl/gallery/patchy" class="itemDropdown">Patchy</a>
        <a href="/nl/gallery/splash" class="itemDropdown">Splash</a>
        <a href="/nl/gallery/other" class="itemDropdown">Other</a>
        <a href="/nl/gallery/stagingPaintings" class="itemDropdown">Staging paintings</a>
      </div>
    </div>
    <a class="itemToolbar" href="nl/presentation">Presentatie</a>
    <a class="itemToolbar" href="nl/event">Evenementen</a>
    <a class="itemToolbar" href="nl/contact">Contact</a>
    <div id="espace"></div>
  </div>
</div>
</body>
