<head>
  <meta charset="utf-8">
</head>
<app-headeren></app-headeren>
<body>
  <div id="pageWeb">
    <img src="../../../assets/img/ValouKervyn.jpg" id="img1">
    <div id="p1">
      <span class="italique"> About </span><br>
      <hr>
      <span class="nom">Valou Kervyn</span> <br>
      <span class="gris">Belgian artist and painter</span>
      <hr>
      <br>
      Born in Brussels on June 21st, 1973, Valou Kervyn discovers her passion for drawing and painting at a weekly workshop she first attended when she was 10.<br><br>
      After her Arts degree, she chose to study graphic design at the Ecole de Recherche Graphique (ERG) and the Ecole 75 in Brussels, as well as illustration at night school with Alain Goffin.<br> <br>
      In 2012, when a network of Interior Designers was created to regroup artists and craftsmen, she went back to her first love of art and happily opened her own workshop.<br><br>
      She has been working there ever since, with her days full of colour, material, movement, research and joy …<br><br>
        <br>
      <span class="italique"><u>My artistic approach</u></span><br>
      <br>
      Attracted to colours, shapes and textures, I am always curious about working with different « objects » and « materials » ... <br> <br>
      I love layered colours, working the acrylic with spatulas, cardboard, metal wire and mesh…<br> <br>
      Emotions also overlap… I have an expressive nature with strong sensivity which means I mentally project my feelings and the energies around me onto the construction and organisation of the painting…<br> <br>
      I work in two phases when constructing my paintings. Initially, I imagine and dream and in time, I see it, visualize it and it must come out… Then, I regroup, set up all the material and get to work…<br> <br>
      This is a magical moment when I am suspended in time, when ideas and feelings merge and become form, where sand must be added to accentuate movement, where palettes and cardboard full of colours help me freely transcribe what I had imagined…<br> <br>
      At times, the result is explosive and at others, more serene…<br> <br>
      The techniques I use depend on my emotions, but there is always an abundance of colour in all of my work…
      </div>
    </div>
</body>
<app-footeren></app-footeren>
