 <div class="pageWeb">
    <div class="blocImages">
      <div class="parTrois">
        <a href="http://localhost:8888/img/1"><img class="imgs" src="../../assets/img/1.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/img/2"><img class="imgs" src="../../assets/img/2.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/img/3"><img class="imgs" src="../../assets/img/3.jpg" alt="oeuvre"></a>
      </div>
      <div class="parTrois">
        <a href="http://localhost:8888/img/1"><img class="imgs" src="../../assets/img/3.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/img/1"><img class="imgs" src="../../assets/img/1.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/img/1"><img class="imgs" src="../../assets/img/2.jpg" alt="oeuvre"></a>
      </div>
      <div class="parTrois">
        <a href="http://localhost:8888/img/1"><img class="imgs" src="../../assets/img/2.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/img/1"><img class="imgs" src="../../assets/img/3.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/img/1"><img class="imgs" src="../../assets/img/1.jpg" alt="oeuvre"></a>
      </div>
    </div>
  </div>
