 <div class="pageWeb">
    <br>
    <div class="blocImages">
      <div>
        <a [routerLink]="'/gallery/1'"><img class="imgs" src="../../assets/img/1.jpg" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/2'"><img class="imgs" src="../../assets/img/2.jpg" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/3'"><img class="imgs" src="../../assets/img/3.jpg" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/1'"><img class="imgs" src="../../assets/img/1.jpg" alt="oeuvre"></a>
      </div>
      <div>
        <a href="http://localhost:8888/image"><img class="imgs" src="../../assets/img/3.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/image"><img class="imgs" src="../../assets/img/1.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/image"><img class="imgs" src="../../assets/img/2.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/image"><img class="imgs" src="../../assets/img/3.jpg" alt="oeuvre"></a>
      </div>
      <div>
        <a href="http://localhost:8888/image"><img class="imgs" src="../../assets/img/2.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/image"><img class="imgs" src="../../assets/img/3.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/image"><img class="imgs" src="../../assets/img/1.jpg" alt="oeuvre"></a>
        <a href="http://localhost:8888/image"><img class="imgs" src="../../assets/img/2.jpg" alt="oeuvre"></a>
      </div>
    </div>
  </div>
