 <div class="pageWeb">
    <br>
    <div class="blocImages">
      <div class="row">
        <a [routerLink]="'/gallery/1'"><img class="imgs" src="{{this.image[0]}}" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/2'"><img class="imgs" src="{{this.image[1]}}" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/3'"><img class="imgs" src="{{this.image[2]}}" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/1'"><img class="imgs" src="{{this.image[3]}}" alt="oeuvre"></a>
      </div>
      <div class="row">
        <a [routerLink]="'/gallery/3'"><img class="imgs" src="{{this.image[4]}}" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/1'"><img class="imgs" src="{{this.image[5]}}" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/2'"><img class="imgs" src="{{this.image[6]}}" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/3'"><img class="imgs" src="{{this.image[7]}}" alt="oeuvre"></a>
      </div>
      <div class="row">
        <a [routerLink]="'/gallery/2'"><img class="imgs" src="{{this.image[8]}}" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/3'"><img class="imgs" src="{{this.image[9]}}" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/1'"><img class="imgs" src="{{this.image[10]}}" alt="oeuvre"></a>
        <a [routerLink]="'/gallery/2'"><img class="imgs" src="{{this.image[11]}}" alt="oeuvre"></a>
      </div>
    </div>
  </div>
