<div class="pageWeb">
  <br>
  <p id="paraIntro">Bienvenue sur le site de Valou Kervyn. Ici, vous trouverez toutes les informations que vous pourriez
  rechercher à propose de l'artiste.</p>
  <br>
  <hr class="horrow">

  <div id="blocImages">
    <img id="flecheGauche" src="../../assets/img/leftArrow.png" alt="left arrow">
    <img id="imageDefilante" alt="oeuvre" src="../../assets/img/1.jpg">
    <img id="flecheDroite" src="../../assets/img/rightArrow.png" alt="right arrow">
  </div>
  <p style="font-size: 20px;"> Petite présentation de l'artiste : </p>
</div>
