<div class="mainContainer">
  <div class="content">
    <div class="header">
      <h1>Admin</h1>
    </div>
    <div class="paintings">
      <h1>Galerie</h1>
      <form method="post" enctype="multipart/form-data" [formGroup]="gallery" (ngSubmit)="sendPainting(this.gallery)">
        <label>Nom :
          <input type="text" required name="name" formControlName="name" placeholder="Nom">
        </label><br>
        <label>Taille :
          <input type="text" required name="size" formControlName="size" placeholder="Taille">
        </label><br>
        <label>Image :
          <input  (change)="fileChange($event)"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
        </label><br>
        <input type="submit">
      </form>
    </div>
    <div class="events">
      <h1>Evenement</h1>
      <form method="post" enctype="multipart/form-data" [formGroup]="event" (ngSubmit)="sendEvent(this.event)">
        <label>Nom :
          <input type="text" required name="name" formControlName="name" placeholder="Nom">
        </label><br>
        <label>Dates :
          <input type="date" required name="dateBegin" formControlName="dateBegin" placeholder="Debut">
        </label> -
        <label>
          <input type="date" required name="dateEnd" formControlName="dateEnd" placeholder="Fin">
        </label><br>
        <label>Lieu :
          <input type="text" required name="place" formControlName="place" placeholder="Place">
        </label><br>
        <label>Description :
          <input type="text" required name="description" formControlName="description" placeholder="Description">
        </label><br>
        <label>
          <input  (change)="fileChange($event)"  type="file"  class="custom-file-input"  id="file"  aria-describedby="inputGroupFileAddon01">
        </label>
        <input type="submit">
      </form>
    </div>
  </div>
</div>
