<app-headerfr></app-headerfr>
<div class="access" id="access">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <label>Mail :
      <input type="email" placeholder="Mail" formControlName="mail">
    </label><br>
    <label>Mot de passe :
      <input type="password" placeholder="Mot de passe" formControlName="password">
    </label>
    <input type="submit">
  </form>
</div>
<div class="mainContainer" id="main">
  <div class="content">
    <div class="header">
      <h1>Admin</h1>
    </div>
    <div class="paintings">
      <h1>Galerie</h1>
      <form method="post" enctype="multipart/form-data" [formGroup]="gallery" (ngSubmit)="sendPainting(this.gallery)">
        <label>Description :
          <input type="text" required name="size" formControlName="description" placeholder="Description">
        </label><br>
        <label>Image :
          <input  (change)="fileChange($event)"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
        </label><br>
        <label>Categorie :
          <select formControlName="category">
            <option value="inSpires">In spires</option>
            <option value="pinsAndNeedles">Pins and needles</option>
            <option value="patchy">Patchy</option>
            <option value="splash">Splash</option>
            <option value="other">Other</option>
            <option value="stagingPaintings">Staging Paintings</option>
          </select>
        </label><br>
        <input type="submit">
      </form>
    </div>
    <div class="events">
      <h1>Evenement</h1>
      <form method="post" enctype="multipart/form-data" [formGroup]="event" (ngSubmit)="sendEvent(this.event)">
        <label>Nom :
          <input type="text" required name="name" formControlName="name" placeholder="Nom">
        </label><br>
        <label>Dates :
          <input type="date" required name="dateBegin" formControlName="dateBegin" placeholder="Debut">
        </label> -
        <label>
          <input type="date" required name="dateEnd" formControlName="dateEnd" placeholder="Fin">
        </label><br>
        <label>Lieu :
          <input type="text" required name="place" formControlName="place" placeholder="Place">
        </label><br>
        <label>Description :
          <input type="text" required name="description" formControlName="description" placeholder="Description">
        </label><br>
        <label>
          <input  (change)="fileChange($event)"  type="file"  class="custom-file-input"  id="file"  aria-describedby="inputGroupFileAddon01">
        </label><br>
        <input type="submit">
      </form>
    </div>
  </div>
</div>
<app-footerfr></app-footerfr>
