/* Add a black background color to the top navigation */

body {
  background-color: #ededed;
  margin: 0 -10px;
}

#logoValouKervyn {
  width: 20%;
  float: left;
  margin: 20px;
}

#toolbar {
  width: 70%;
  height: 30px;
  margin: 7% 10% 5% 25%;
  text-align: center;
}

.topnav {
  background-color: white;
  overflow: hidden;
  margin-top: -10px;
  margin-left: 5%;
  margin-right: 5%;
}

.topnav a:hover {
  background-color: #e4e4e4;
  border-bottom: solid 3px black;
}

.topnav a.active {
  background-color: lightgray;
  color: black;
}

.selectLanguage {
  float : right;
  color: black;
  padding: 10px;
  margin-top: 0px;
  text-align: center;
  font-size: 19px;
  text-decoration: none;
}
#divSelectLanguage {
  float: right;
  margin-right: 2%;
  background: #ededed;
}

#loginDiv {
  float: right;
  margin-right: 3%;
  background: #ededed;
  text-align: center;
  margin-top: 10px;
}

#login {
  background-color: #ededed;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 10px;

}

#login:hover {
  background-color: #e4e4e4;
}

.hrow {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}

.itemToolbar {
  color: black;
  background-color: #ededed;
  position: relative;
  padding: 1.5% 5%;
  margin: 5% 1.5%;
  text-align: center;
  text-decoration: none;
  font-size: 150%;
}
