<body>
<div class="topnav">
  <div id="divSelectLanguage">
  <a class="selectLanguage" href="">NL</a>
  <a class="selectLanguage" href="">EN</a>
  <a class="selectLanguage" href="">FR</a>
  </div>
  <div id="loginDiv">
    <a id="login" href="login">Mon Compte</a>
  </div>
  <a href=""><img id="logoValouKervyn" src="../assets/img/logoValouKervyn.png" alt="logoArtiste"></a>
  <div id="toolbar">
    <div id="hoverHome">
      <a class="itemToolbar" href="">Home</a>
    </div>
    <div id="hoverGallery">
      <a class="itemToolbar" href="gallery">Gallery</a>
    </div>
    <div id="hoverPresentation">
      <a class="itemToolbar" href="presentation">Presentation</a>
    </div>
    <div id="hoverEvent">
      <a class="itemToolbar" href="event">Event</a>
    </div>
    <div id="hoverContact">
      <a class="itemToolbar" href="contact">Contact</a>
    </div>
  </div>
</div>
<br>
<router-outlet></router-outlet>
</body>












