<body>
<div class="topnav">
  <div id="divSelectLanguage">
  <a class="selectLanguage" href="">NL</a>
  <a class="selectLanguage" href="">EN</a>
  <a class="selectLanguage" href="">FR</a>
  </div>
  <div id="loginDiv">
    <a id="login" href="register">Mon Compte</a>
  </div>
  <a href=""><img id="logoValouKervynTop" src="../assets/img/logoValouKervyn.png" alt="logoArtiste"></a>
  <div id="toolbar">
    <div id="hoverHome">
      <a class="itemToolbar" href="">Home</a>
    </div>
    <div id="hoverGallery">
      <a class="itemToolbar" href="gallery">Gallery</a>
    </div>
    <div id="hoverPresentation">
      <a class="itemToolbar" href="presentation">Presentation</a>
    </div>
    <div id="hoverEvent">
      <a class="itemToolbar" href="event">Event</a>
    </div>
    <div id="hoverContact">
      <a class="itemToolbar" href="contact">Contact</a>
    </div>
  </div>
</div>
<br>
<router-outlet></router-outlet>
<br>
<div class="botnav">
  <br>
  <hr style="margin: 0 5%;">
  <a href=""><img id="logoValouKervynBot" src="../assets/img/logoValouKervyn.png" alt="logoArtiste"></a>
  <p><a href="" class="littlenav">Home</a> | <a href="/gallery" class="littlenav">Gallery</a> | <a href="/presentation" class="littlenav">Presentation</a> | <a href="/event" class="littlenav">Event</a> | <a href="/contact" class="littlenav">Contact</a></p>
  <p>Valou Kervyn - Artiste peintre</p>
  <p><i>Contact : 0491919191 | adresse.email@motiv0.com</i></p>
  <a href="https://www.facebook.com/valerie.kervyn/"><img src="../assets/img/logoFacebook.jpg" width="4%"></a>
  <a href="https://www.instagram.com/valoukervyn/"><img src="../assets/img/logoInstagram.jpg" width="4%"></a>
</div>
</body>












