<div class="inscription">
  <form id="form" name="register" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" >
  <label for="firstname">Prénom : </label>
    <input type="text" id="firstname" name="firstName" placeholder="Prenom" formControlName="firstname" required>
  <label for="lastname">Nom : </label>
    <input type="text" id="lastname" name="lastName" placeholder="Nom" formControlName="lastname" required><br>
  <label for="mail">E-mail : </label>
    <input type="email" id="mail" name="mail" placeholder="E-mail" formControlName="email" required><br>
  <label for="pwd1">Mot de passe : </label>
    <input type="password" id="pwd1" name="pwd1" placeholder="Mot de passe" formControlName="password" required>
  <label for="shwPwd"> Voir le mot de passe </label>
    <input type="checkbox" name="shwPwd" id="shwPwd" onchange="shwPassword()"><br>
  <label for="pwd2">Confirmation : </label>
    <input type="password" id="pwd2" name="pwd2" placeholder="Confirmation du mot de passe" formControlName="confirm" required>
  <div id="notif">Voulez-vous recevoir des notifications ?
    <label for="yes">Oui :</label>
    <input type="radio" id="yes" name="notification" value="yes" formControlName="notification" checked>
    <label for="no">Non :</label>
    <input type="radio" id="no" name="notification" value="no" formControlName="notification">
  </div>
  <input class="submit" type="submit" id="submit" value="Valider" onmouseover="">
    <a href="/login">
      <input type="button" value="Connection">
    </a>
</form>
</div>
