<head>
  <meta charset="utf-8">
</head>

<app-headeren></app-headeren>
<div id="pageWeb">
  <div id="tri">
    <p id="texteTri">Sort by : </p>
    <div id="dropdownEvents">
      <a id="triEvents">Start date</a>
      <div id="dropdown-content-tri">
        <p class="itemDropdown" (click)="tri('name', 'Nom')">Name</p>
        <p class="itemDropdown" (click)="tri('begin', 'Date de début')">Start date</p>
        <p class="itemDropdown" (click)="tri('end', 'Date de fin')">End date</p>
        <p class="itemDropdown" (click)="triAnnee('2020', 'Année')">Year</p>
      </div>
    </div>
    <div id="dropdownAnnee">
      <a id="triAnnee">2020</a>
      <div id="dropdown-content-annee">
        <p class="itemDropdown" (click)="triAnnee('2020', 'Année')">2020</p>
        <p class="itemDropdown" (click)="triAnnee('2019', 'Année')">2019</p>
        <p class="itemDropdown" (click)="triAnnee('2018', 'Année')">2018</p>
      </div>
    </div>
  </div>
  <div class="event" *ngFor="let oeuvre of transition" [routerLink]="oeuvre.eventId">
    <img class="imgs" src="{{oeuvre.image}}" alt="oeuvre">
    <div class="text">
      <h1>{{oeuvre.name}}</h1>
      <div class="moment">
        <p>{{oeuvre.begin}} - {{oeuvre.end}}</p>
      </div>
      <p class="location">{{oeuvre.place}}</p>
    </div>
  </div>
</div>
<app-footeren></app-footeren>
