.inscription {
  margin: 0 5%;
  background-color: white;
  padding: 1%;
  font-size: 1.55vw;
}
input {
  background-color: #ededed;
  border: none;
  padding: 1%;
  margin: 1%;
  font-family: "Champagne & Limousines", sans-serif;
  font-size: 1.5vw;
  width: 30%;
}
label {
  margin-left: 1%;
}

#shwPwd {
  width: auto;
}

#notif input, label {
  width: auto;
}

#error {
  margin: 0 5%;
  background-color: white;
  padding: 1%;
  font-size: 1.7vw;
  display: none;
  color: red;
}
