<app-headerfr></app-headerfr>
  <div class="pageWeb">
    <h1 id="titre">Presentation</h1>
    <div id="paragraphe">
      <p id="p1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis nunc ex,
        eu scelerisque tortor iaculis non. Donec eget tortor a purus venenatis porttitor. Vestibulum eget varius metus.
        Nam dui dui, ultrices ac felis ut, elementum hendrerit ipsum. Maecenas sagittis condimentum lobortis.
        Nullam felis felis, consequat et velit sed, eleifend lacinia urna. Sed augue nibh, ornare vitae ante at,
        suscipit dictum mi. Vivamus quis pretium magna.
      </p>
      <img src="../../assets/img/1.jpg" id="img1" width="40%">
      <img src="../../assets/img/2.jpg" id="img2" width="40%">
      <p id="p2">
        Morbi eu mauris sed nibh interdum lobortis non eget massa. Phasellus euismod massa id sodales hendrerit.
        Aliquam erat volutpat. Ut lacus mauris, auctor vel semper eu, hendrerit sed mauris.
        Phasellus aliquam ante ut varius tristique. Aenean eget magna nec mauris bibendum accumsan ut ut dolor.
        Pellentesque ultrices, turpis vitae sollicitudin gravida, nibh odio hendrerit orci, in varius libero odio sit amet ligula.
      </p>
      <p id="p3">Nullam convallis eu risus pellentesque consequat. Pellentesque eros est, dignissim tincidunt est in,
        accumsan euismod justo. Nullam aliquam augue vel nisi egestas commodo. Duis finibus suscipit mauris.
        Quisque sed erat ex. Aliquam malesuada accumsan accumsan. Integer ut nibh ac turpis efficitur dapibus id eget diam.

        Fusce dictum volutpat arcu vitae pellentesque.
        Pellentesque vehicula orci euismod turpis lacinia, at auctor mi viverra. Nunc ligula turpis, convallis eget ultricies in,
        commodo id nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Maecenas vulputate ligula a lacinia pretium. Duis at malesuada dui. Fusce in mauris scelerisque, faucibus orci nec,
        imperdiet odio. Aenean eget nisl nec ex ultricies imperdiet ut vestibulum diam. Curabitur cursus porta felis,
        eu euismod sem condimentum sed. Suspendisse pulvinar pretium mollis. Donec ante sapien, euismod sed sapien eget,
        mattis hendrerit erat.</p>
    </div>
  </div>
<app-footerfr></app-footerfr>
