<app-headerfr></app-headerfr>
  <div class="pageWeb">
    <h1 id="titre">Presentation</h1>
    <hr>
    <div id="paragraphe">
      <img src="../../../assets/img/ValouKervyn.jpg" id="img1">
      <div id="p1">
        <span class="italique"> A propos </span><br>
        <hr>
        <span class="nom">Valou Kervyn</span> <br>
        <span class="gris">Artiste peintre belge</span>
        <hr>
        <br>
        Née à Bruxelles le 21 juin 1973, Valou Kervyn découvre la passion pour le dessin et la peinture grâce à un atelier qu’elle suivait toutes les semaines depuis l’âge de 10 ans.<br>
        <br>
        Après des humanités artistiques, elle choisit des études de graphisme à l’Ecole de Recherche Graphique (ERG) et Ecole du 75 (Bruxelles) suivi de cours du soir en illustration avec Alain Goffin.<br><br>
        En 2012, lors de la création d’un réseau de décoration d’intérieur qui regroupe artistes et artisans, elle retrouve ses premiers amours et avec bonheur le chemin de son atelier.<br><br>
        Depuis lors, elle y passe ses journées...elles sont rythmées de couleurs, de matières, de mouvements, de recherches et d’amusements... <br>
        <br>
        <br>
        <span class="italique">Ma démarche artistique</span><br>
        <br>
        Attirée par les couleurs, les formes et les textures... Curieuse de travailler avec des « objets » et des « matériaux » différents...<br><br>
        Les couleurs sont superposées , l’acrylique est travaillée avec des palettes, des cartons, du fil de fer, du grillage…<br><br>
        Les émotions sont aussi superposées… de nature expressive, jumelée à une forte sensibilité, je projette les sentiments du moment mélangés avec les émotions ressenties lors de la construction et l’organisation de la toile dans ma tête.<br><br>
        Je travaille en deux temps, une toile se construit… d’abord j’imagine, je rêve et puis au fil du temps je la vois, elle se réalise, elle doit sortir…<br><br>
        Alors, je m’emballe, je regroupe le matériel et j’attaque... Ce moment là est comme suspendu...<br><br>
        C’est magique quand les idées, les ressentis deviennent matière, quand il faut rajouter du sable dans la peinture pour accentuer le mouvement, quand les palettes, les cartons remplis de couleurs transcrivent en toute liberté ce qui a été imaginé.<br><br>
        Parfois c’est explosif, parfois plus posé ....
        les techniques varient en fonction de mes émotions, par contre toujours en couleur…
      </div>
    </div>
  </div>
<app-footerfr></app-footerfr>
