.pageWeb {
  background-color: white;
  margin: 0 5%;
  padding: 1%;
}

#paragraphe{
  width: 100%;
}

#img1 {
  float: left;
  width: 30%;
  padding: 3% 3% 0.5% 3%;
}
#p1{
  float: none;
  width: 94%;
  padding: 3%;
  font-size: 15px;
}

.italique {
  font-style: italic;
  color: #b2b2b2;
  font-size: 20px;
}
.nom {
  font-size: 25px;
}
.gris {
  color: #b2b2b2;
}
