body {
  background-color: #ededed;
  margin: 0 -10px;
}

.hrow {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}

.botnav {
  background-color: white;
  margin: 0 5%;
  text-align: center;
}

#logoValouKervynBot {
  width: 20%;
  margin: 20px 40%;
}

#littleToolBar {
  font-size: 1.7vw;
}

#littleNav {
  text-decoration: none;
}

.littlenav {
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: #e4e4e4;
  padding: 0.5% 2%;
}

.network {
  width: 4%;
  margin: 10px 2%;
}

.infos {
  font-size: 1.5vw;
}

.botnav p>a:hover {
  background-color: #e4e4e4;
  border-bottom: solid 2px black;
}

.botnav img:hover {
  opacity: 0.8;
}
