/* Add a black background color to the top navigation */

body {
  background-color: #ededed;
  margin: 0 -10px;
}

#logoValouKervynTop {
  width: 20%;
  float: left;
  margin: 20px;
}

#toolbar {
  position: relative;
  width: 75%;
  height: 40%;
  /*margin: 7% 10% 5% 25%;*/
  margin-top: 7%;
  margin-right: 0%;
  margin-left: 25%;
  background-color: lightblue;
}

#hoverHome {
  position: absolute;
  margin-left: 0;
}

#hoverGallery {
  position: absolute;
  /*margin-left: 18%;*/
  margin-left: 17%;
}

#hoverPresentation {
  position: absolute;
  /*margin-left: 37%;*/
  margin-left: 34%;
}

#hoverEvent {
  position: absolute;
  /*margin-left: 62.5%;*/
  margin-left: 57%;
}

#hoverContact {
  position: absolute;
  margin-left: 80%;
}


.itemToolbar {
  color: black;
  background-color: #ededed;
  position: relative;
  padding: 13px 40px;
  margin: 5% 1.5%;
  text-align: left;
  text-decoration: none;
  font-size: 120%;
}

.topnav {
  background-color: white;
  overflow: hidden;
  margin: -10px 5% 0%;
}

.topnav a:hover {
  background-color: #e4e4e4;
  border-bottom: solid 3px black;
}

.topnav a.active {
  background-color: lightgray;
  color: black;
}

.selectLanguage {
  float : right;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  text-decoration: none;
}
#divSelectLanguage {
  float: right;
  margin-right: 2%;
  background: #ededed;
}

#loginDiv {
  float: right;
  margin-right: 3%;
  background: #ededed;
  text-align: center;
  margin-top: 10px;
}

#login {
  background-color: #ededed;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 10px;

}

#login:hover {
  background-color: #e4e4e4;
}

.hrow {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}

.botnav {
  background-color: white;
  margin: 0 5% -10px;
  text-align: center;
  float: none;
}

#logoValouKervynBot {
  width: 20%;
  margin: 20px 40%;
}

#facebook {
  font-size: 20px;
}

.botnav img {
  margin: 10px 2%;
}

#littleNav {
  text-decoration: none;
}

.littlenav {
  text-decoration: none;
  color: black;
  background-color: #e4e4e4;
  padding: 5px 10px;
}
