/* Add a black background color to the top navigation */

body {
  background-color: #ededed;
  margin: 0 -10px;
}

.hrow {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}

.botnav {
  background-color: white;
  margin: 0 5% -10px;
  text-align: center;
  float: none;
}

#logoValouKervynBot {
  width: 20%;
  margin: 20px 40%;
}

#facebook {
  font-size: 20px;
}

.botnav img {
  margin: 10px 2%;
}

#littleNav {
  text-decoration: none;
}

.littlenav {
  text-decoration: none;
  color: black;
  background-color: #e4e4e4;
  padding: 5px 10px;
}
