<head>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' '; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline' 'unsafe-eval';">
  <meta charset="utf-8">
</head>
<body>
  <br>
  <div id="botnav">
    <a href="/fr/home"><img id="logoValouKervynBot" src="../assets/img/logoValouKervyn.png" alt="logoArtiste"></a>
    <hr style="margin: 0 30%;">
    <br>
    <p id="littleToolBar">
      <a href="fr/home" class="littlenav">Acceuil</a> |
      <a href="fr/gallery" class="littlenav">Galerie</a> |
      <a href="fr/presentation" class="littlenav">Presentation</a> |
      <a href="fr/event" class="littlenav">Evenements</a> |
      <a href="fr/contact" class="littlenav">Contact</a>
    </p>
    <p class="infos">Valou Kervyn - Artiste peintre</p>
    <p class="infos"><i>Contact : 0473/66.32.41 | varmotiv0@gmail.com</i></p>
    <a href="https://www.facebook.com/valerie.kervyn/"><img class="network" src="../assets/img/logoFacebook.jpg"></a>
    <a href="https://www.instagram.com/valoukervyn/"><img class="network" src="../assets/img/logoInstagram.jpg"></a>
  </div>
</body>
