<body>
  <br>
  <div id="botnav">
    <a href="/fr/home"><img id="logoValouKervynBot" src="../assets/img/logoValouKervyn.png" alt="logoArtiste"></a>
    <hr style="margin: 0 30%;">
    <br>
    <div id="toolbar">
      <a href="fr/home" class="littlenav">Acceuil</a>
      <div class="dropdown">
        <div class="dropdown-content">
          <a href="/fr/gallery/inSpires" class="itemDropdown">In spires</a>
          <a href="/fr/gallery/pinsAndNeedles" class="itemDropdown">Pins and needles</a>
          <a href="/fr/gallery/patchy" class="itemDropdown">Patchy</a>
          <a href="/fr/gallery/splash" class="itemDropdown">Splash</a>
          <a href="/fr/gallery/other" class="itemDropdown">Other</a>
          <a href="/fr/gallery/stagingPaintings" class="itemDropdown">Staging paintings</a>
        </div>
        <a id="galerie">Galerie</a>
      </div>
      <a href="fr/presentation" class="littlenav">Presentation</a>
      <a href="fr/event" class="littlenav">Evenements</a>
      <a href="fr/contact" class="littlenav">Contact</a>
    </div>
    <p class="infos">Valou Kervyn - Artiste peintre</p>
    <p class="infos"><i>Contact : 0473/66.32.41 | varmotiv0@gmail.com</i></p>
    <a href="https://www.facebook.com/valerie.kervyn/"><img class="network" src="../assets/img/logoFacebook.jpg"></a>
    <a href="https://www.instagram.com/valoukervyn/"><img class="network" src="../assets/img/logoInstagram.jpg"></a>
  </div>
</body>
