<app-headeren></app-headeren>
  <div class="inscription">
    <form id="form" action="/inscription" method="post" name="register">
    <label for="firstname">Firstname : </label>
      <input type="text" id="firstname" name="firstName" required>
    <label for="lastname">Name : </label><input type="text" id="lastname" name="lastName" required><br>
    <label for="mail">E-mail : </label><input type="email" id="mail" name="mail" required><br>
    <label for="pwd1">Password : </label><input type="password" id="pwd1" name="pwd1" required>
    <label for="shwPwd">See password </label> <input type="checkbox" name="shwPwd" id="shwPwd" onchange="shwPassword()"><br>
    <label for="pwd2">Password confirmation : </label><input type="password" id="pwd2" name="pwd2" required >
    <div id="notif">Do you want to receive notifications?
      <input type="radio" id="yes" name="notif" value="yes" checked>
      <label for="yes">Yes :</label>
      <input type="radio" id="no" name="notif" value="no">
      <label for="no">No :</label> </div>
    <input class="submit" type="submit" id="submit" value="Submit" onmouseover="passwordCheck(register)">
      <a href="/login">
        <input type="button" value="Connection">
      </a>
  </form>
  </div>
<app-footeren></app-footeren>
