<head>
  <meta charset="utf-8">
</head>
<body>
<div id="topnav">
  <div id="divSelectLanguage">
    <a class="itemSelectLanguage" id="fr" href="fr/{{this.page}}">FR</a>
    <a class="itemSelectLanguage" id="en" href="en/{{this.page}}">EN</a>
    <a class="itemSelectLanguage" id="nl" href="nl/{{this.page}}">NL</a>
  </div>
  <div id="loginDiv">
    <a class="log" id="login" href="en/login">Connection</a>
    <a class="log" id="logout" href="en/home" (click)="logout()">Logout</a>
  </div>

  <a href=""><img id="logoValouKervynTop" src="../assets/img/logoValouKervyn.png" alt="logoArtiste"></a>
  <div id="toolbar">
    <a class="itemToolbar" href="en/home">Home</a>
    <div class="dropdown">
      <a id="galerie">Gallery</a>
      <div class="dropdown-content">
        <a href="/en/gallery/inSpires" class="itemDropdown">In spires</a>
        <a href="/en/gallery/pinsAndNeedles" class="itemDropdown">Pins and needles</a>
        <a href="/en/gallery/patchy" class="itemDropdown">Patchy</a>
        <a href="/en/gallery/splash" class="itemDropdown">Splash</a>
        <a href="/en/gallery/other" class="itemDropdown">Other</a>
        <a href="/en/gallery/stagingPaintings" class="itemDropdown">Staging paintings</a>
      </div>
    </div>
    <a class="itemToolbar" href="en/presentation">Présentation</a>
    <a class="itemToolbar" href="en/event">Events</a>
    <a class="itemToolbar" href="en/contact">Contact</a>
    <div id="espace"></div>
  </div>
</div>
</body>
