<div class="topnav">
  <div id="divSelectLanguage">
    <a class="selectLanguage" href="nl/home">NL</a>
    <a class="selectLanguage" href="en/home">EN</a>
    <a class="selectLanguage" href="fr/home">FR</a>
  </div>
  <div id="loginDiv">
    <a id="login" href="en/register">My Account</a>
  </div>
  <a href="en/home"><img id="logoValouKervynTop" src="../assets/img/logoValouKervyn.png" alt="artistLogo"></a>
  <div id="toolbar">
    <div id="hoverHome">
      <a class="itemToolbar" href="en/home">Home</a>
    </div>
    <div id="hoverGallery">
      <a class="itemToolbar" href="en/gallery">Gallery</a>
    </div>
    <div id="hoverPresentation">
      <a class="itemToolbar" href="en/presentation">Presentation</a>
    </div>
    <div id="hoverEvent">
      <a class="itemToolbar" href="en/event">Events</a>
    </div>
    <div id="hoverContact">
      <a class="itemToolbar" href="en/contact">Contact</a>
    </div>
  </div>
</div>
<br>
