<head>
  <meta charset="utf-8">
</head>
<app-headernl></app-headernl>
<div class="inscription">
  <form id="form" action="" method="post" name="register" [formGroup]="register" (ngSubmit)="onSubmit(register.value)">
    <label for="firstname">Voornaam : </label>
    <input type="text" id="firstname" name="firstName" required formControlName="firstname">
    <label for="lastname">Achternaam : </label><input type="text" id="lastname" name="lastName" required formControlName="lastname"><br>
    <label for="mail">Mail : </label><input type="email" id="mail" name="mail" required formControlName="email"><br>
    <label for="pwd1">Wachtwoord : </label><input type="password" id="pwd1" name="pwd1" required formControlName="password">
    <label for="shwPwd"> Zie wachtwoord </label> <input type="checkbox" name="shwPwd" id="shwPwd" (click)="shwPassword()"><br>
    <label for="pwd2">Wachtwoordbevestiging : </label><input type="password" id="pwd2" name="pwd2" required formControlName="confirm">
    <div id="notif">Wilt u meldingen ontvangen?
      <label for="yes">Ja :
        <input type="radio" id="yes" name="notification" value="yes" checked formControlName="notification">
      </label>
      <label for="no">Nee :
        <input type="radio" id="no" name="notification" value="no" formControlName="notification">
      </label>
    </div>
    <input class="submit" type="submit" id="submit" value="Bevestigen">
    <a href="/fr/login">
      <input type="button" value="Login">
    </a>
  </form>
</div>
<div id="error">
  <hr>
</div>
<app-footernl></app-footernl>
